/* 1344 px width */
@media (max-width: 84em) {
  .nav-container-main {
    width: 20rem;
  }

  .section-user {
    width: 85rem;
  }
}

/* 1088 pixels */
@media (max-width: 68em) {
  h3 {
    display: none;
  }

  .nav-container-main {
    width: 8rem;
    align-items: center;
  }

  .nav-container-inner {
    width: fit-content;
    align-items: center;
  }

  .site-title {
    all: initial;
  }

  .nav-name {
    display: none;
  }

  .logo {
    display: block;
    margin-bottom: 2rem;
  }

  .link-flex {
    padding: 1rem 1rem;
    border-radius: 50%;
  }

  .section-user {
    width: 70rem;
  }

  h1 {
    font-size: 2rem;
  }

  .user-header {
    flex-wrap: wrap;
  }

  .username {
    flex-basis: 100%;
  }

  .user-action {
    display: flex;
    gap: 1rem;
    flex-basis: 90%;
  }

  .user-action > button:not(.add-btn) {
    flex-basis: calc(100% / 3);
  }
}

/* 768px */
@media (max-width: 48em) {
  .container {
    height: 100vh;
  }

  .section-user {
    width: 50rem;
  }

  .nav-container-main {
    height: 100vh;
  }

  .nav-container-inner {
    margin: 0 5px;
    padding: 0;
  }

  .links-container {
    height: 100%;
  }

  .bio-container {
    padding-top: 1rem;
    padding-left: 2rem;
    height: max-content;
  }

  .username-header {
    flex-wrap: wrap;
  }

  .user-action {
    display: flex;
    justify-content: none;
    margin-top: 1rem;
  }

  .bio-desc {
    width: 35rem;
  }

  .btn-general {
    height: 2rem;
    align-items: center;
  }
}

/* 576px */
@media (max-width: 36em) {
  body {
    position: relative;
  }

  .section-user {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
  }

  .nav-container-main {
    position: fixed;
    width: 100vw;
    height: 5rem;
    bottom: 0;
    background-color: #000;
    z-index: 10;
  }

  .nav-container-inner {
    width: 100%;
    box-shadow: none;
  }

  .links-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .logo {
    display: none;
  }

  .nav-name {
    display: none;
  }

  #reels-btn {
    order: 3;
  }

  #profile-btn {
    order: 20;
  }

  #messages-btn,
  #notif-btn,
  #more-btn,
  #compass-btn {
    display: none;
  }
  /* ************************* */
  /* HEADER */
  /* ************************* */

  .user-img-cont {
    width: 10rem;
    margin-top: 2rem;
  }

  .user-img {
    aspect-ratio: 1;
    align-self: flex-start;
    width: 8rem;
    height: auto;
  }

  .username {
    font-size: 1.8rem;
  }

  .bio-container {
    position: relative;
    justify-content: center;
    padding-left: 2rem;
    margin-bottom: 10rem;
  }

  .bio-desc {
    position: absolute;
    left: -8rem;
    bottom: -10rem;
  }

  .user-action {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0 5px;
  }

  .user-action > button {
    display: inline-flex;
    width: auto;
    height: 2rem;
    order: 3;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }

  .user-action > a {
    order: 10;
  }
  /* ************************* */
  /* STORIES */
  /* ************************* */
  .stories-container {
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 2rem;
    height: 8rem;
  }

  .story-bubble {
    text-align: center;
  }

  .story-title {
    width: 7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bubble-container {
    width: 6rem;
    height: 6rem;
  }
  /* ************************* */
  /* POSTS */
  /* ************************* */
  .posts {
    width: 100vw;
    height: fit-content;
    margin-bottom: 5rem;
  }

  .post-nav-cont {
    all: unset;
    display: flex;
    justify-content: space-between;
  }

  .post-cont-inner {
    width: calc(100% / 3);
    justify-content: center;
  }

  .post-cont-inner span {
    display: none;
  }

  .post-nav--selected {
    border-top: 1px solid #fff;
  }

  .post-nav-icon {
    width: 2rem;
    height: 2rem;
  }

  .img-container {
    padding: 0 2px;
  }

  .img-post {
    padding: 0;
    margin: 0;
    gap: 0;
  }

  .img-screen,
  .screen-icons {
    display: none;
  }

  nav > a > :nth-child(2) {
    display: none;
  }
}
