@media (max-width: 36rem) {
  /* ************************* */
  /* NAVIGATION */
  /* ************************* */
  body {
    overflow-x: hidden;
  }

  .site-title {
    display: none;
  }

  .nav-name {
    display: none;
  }

  .nav-container-inner {
    margin: 0;
    padding: 0;
    width: 100vw;
    z-index: 10;
  }

  .links-container {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000;
    width: 100vw;
    height: 4.5rem;
  }

  #reels-btn {
    order: 3;
  }

  #profile-btn {
    order: 20;
  }

  #messages-btn,
  #notif-btn,
  #more-btn,
  #compass-btn {
    display: none;
  }

  /* ************************* */
  /* HEADER */
  /* ************************* */
  .section-user {
    margin: 0;
  }

  header {
    position: relative;
  }

  .user-img-cont {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 8rem;
    height: 8rem;
  }

  .user-img {
    width: inherit;
    height: inherit;
    padding: 1rem 1rem;
  }

  .username {
    position: absolute;
    font-size: 1.8rem;
    top: 10%;
    left: 16%;
  }

  .account-details {
    margin-left: 10rem;
    width: 5rem;
    font-size: 1.4rem;
  }

  .bio-desc {
    width: 100vw;
    padding: 0 1rem;
  }

  .user-action {
    position: absolute;
    display: flex;
    width: 100vw;
    bottom: -4rem;
    gap: 5px;
    justify-content: center;
    padding: 0 5px;
  }

  .user-action > button {
    display: inline-flex;
    width: auto;
    height: 2rem;
    order: 3;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }

  .user-action > button:last-child {
    width: 1rem;
    flex-shrink: 1;
  }
  /* ************************* */
  /* STORIES */
  /* ************************* */
  .stories-container {
    padding-left: 1rem;
    margin-top: 3.2rem;
    margin-bottom: 1rem;
    gap: 2rem;
    height: 8rem;
  }

  .story-bubble {
    text-align: center;
  }

  .story-title {
    width: 7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bubble-container {
    width: 5rem;
    height: 5rem;
  }
  /* ************************* */
  /* POSTS */
  /* ************************* */
  .post-nav-cont {
    all: unset;
    display: flex;
    justify-content: space-between;
  }

  .post-cont-inner {
    width: 11.7rem;
    justify-content: center;
  }

  .post-cont-inner span {
    display: none;
  }

  .post-nav--selected {
    /* width: 100%; */
    border-top: 1px solid #fff;
  }

  .posts {
    width: 100vw;
    height: fit-content;
    /* padding-bottom: 7rem; */
    margin-bottom: 5rem;
  }

  .post-nav-icon {
    width: 2rem;
    height: 2rem;
  }

  nav > a > :nth-child(2) {
    display: none;
  }

  .row-container {
    width: 100vw;
    margin-bottom: 0.3rem;
  }

  .img-container {
    width: 11.8rem;
    height: 11.8rem;
  }

  .img-post {
    width: 100%;
    height: auto;
  }
}
