* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
}
/* *************************** */
/* NAVIGATION */
/* *************************** */
.nav-container-main {
  opacity: 0;
  width: 33rem;
  height: 100vh;
}

.nav-container-inner {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  position: fixed;
  margin-left: 1.2rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  box-shadow: 1px 0 1px -1px #aaa;
}

div[name="nav-last"] {
  margin-bottom: 2.4rem;
}

.site-title {
  font-family: "satisfy";
  font-size: 2.4rem;
  padding: 2.4rem 0;
  margin-bottom: 2rem;
}

.logo {
  aspect-ratio: 1/1;
  width: 5rem;
  margin-top: 2rem;
  display: none;
}

.logo > img {
  width: 100%;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

.link-flex {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 1.2rem 1rem;
  border-radius: 30px;
  transition: all 0.3s;
}

.link-flex:hover {
  cursor: pointer;
  background-color: #161616;
}

.nav-name {
  color: inherit;
  font-size: 1.4rem;
}

.link-icon {
  width: 2.5rem;
  height: 2.5rem;
}
/* *************************** */
/* USER SECTION */
/* *************************** */
.section-user {
  display: flex;
  flex-direction: column;
  width: 95rem;
  margin: 0 auto;
  margin-top: 4.8rem;
}

/* *************************** */
/* HEADER SECTION */
/* *************************** */
header {
  opacity: 0;
  display: flex;
  margin-bottom: 2rem;
  height: 25rem;
}

.user-img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: auto;
}

.user-img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
}

.bio-container {
  width: 70%;
}

.username-header {
  display: flex;
  width: 100%;
}

.username {
  flex-basis: 35%;
  font-size: 2rem;
  font-weight: 400;
  margin-right: 1rem;
}

.username:hover {
  cursor: pointer;
}

.user-action {
  display: inline-flex;
  gap: 1rem;
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  align-self: flex-start;
}

.btn-general {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
}

.btn-general:hover {
  background-color: #aaa;
  cursor: pointer;
}

.user-act-btn--follow {
  background-color: #0095f6;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 8px;
}

.user-act-btn--following {
  background-color: #ffffff;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 8px;
}

.user-act-btn--following:hover {
  background-color: #e4e4e4;
}

.add-btn {
  background-color: #fff;
  border: none;
  color: #000;
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
}

.add-icon {
  width: 1.8rem;
  height: 1.6rem;
}

.user-action > a {
  display: inline-flex;
  align-items: center;
}

.dots-btn {
  width: 2.5rem;
  height: 2.5rem;
}

.account-details {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
  grid-column: 2 / -1;
}

.account-details span:hover:nth-child(n + 2) {
  cursor: pointer;
}

.bio-desc {
  width: 70%;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 200;
}

/* *************************** */
/* STORIES SECTION */
/* *************************** */
.stories-container {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-left: 4rem;
  height: 12.8rem;
  margin-bottom: 5rem;
}

.story-bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.story-bubble:hover {
  cursor: pointer;
}

.bubble-container {
  position: relative;
  background-color: brown;
  width: 9rem;
  height: 9rem;
  border: 2px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #aaa;
  overflow: hidden;
}

.story-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  transform: translate(-25%, -10%);
  width: 20rem;
  height: 10rem;
}

.story-title {
  position: flex-end;
  width: max-content;
  font-size: 1.2rem;
}
/* *************************** */
/* POSTS SECTION */
/* *************************** */
.posts {
  opacity: 0;
  width: inherit;
  height: auto;
  box-shadow: 0 -1px 1px -1px #aaa;
}

.post-nav-cont {
  display: flex;
  justify-content: center;
  gap: 8rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.post-cont-inner {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #aaa;
  height: 5rem;
  padding: 2rem 0;
  letter-spacing: 1px;
}

.post-nav--selected {
  color: #fff;
  border-top: 1px solid #fff;
}

.post-nav-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.row-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img-container {
  position: relative;
  aspect-ratio: 1 / 1;
  width: calc(100% / 3);
  padding: 5px 5px;
}

.img-post {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

.screen-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter: opacity(0);
  transition: all 0.3s;
  color: #fff;
}

.screen-icons > div {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.img-container:hover .img-screen {
  background-color: rgba(0, 0, 0, 0.184);
}

.img-container:hover .screen-icons {
  filter: opacity(1);
}

.screen-icon {
  color: #fff;
  width: 2.4rem;
  height: 2.4rem;
}
